<%= form_for [:manage, @course, @chapter] do |f| %>
  <%= render partial: "layouts/shared/errors", locals: {obj: f.object} %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :rank %>
    <%= f.text_field :rank, class: "form-control" %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
  <%= link_to "Cancel", manage_course_chapters_path(@course), class: 'btn btn-default' %>
<% end %>