<%= form_for [:manage, @course] do |f| %>
  <%= render partial: "layouts/shared/errors", locals: {obj: f.object} %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %> 
  </div>

  <div class="form-group">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle, class: "form-control" %> 
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 6, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.number_field :price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :duration %>
    <%= f.number_field :duration, class: "form-control" %>
  </div>
  
  <%= f.submit class: 'btn btn-primary' %>
  <%= link_to "Cancel", manage_courses_path, class: 'btn btn-default' %>
<% end %>