<%= form_for [:manage, @course, @chapter, @content] , :html => {:class => '', :multipart => true} do |f| %>
  <%= render partial: "layouts/shared/errors", locals: {obj: f.object} %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :chapter %>
    <%= f.collection_select :chapter_id, Chapter.where(course_id: f.object.chapter.course_id), :id, :title, {}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :content_type %>
    <%= f.collection_select :content_type, Content.content_types.collect{|ct| [ct.first] } , :first, :first, {}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :files %>
    <% if f.object.files.attached? %>
      <ul>
        <% f.object.files.each do |attachment| %>
          <li>
            <%= link_to(attachment.filename.to_s, url_for(attachment)) %> <br />
          </li>
        <% end %>
      </ul>
    <% end %>
    <%= f.file_field :files, multiple: true, direct_upload: true %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
  <%= link_to "Cancel", manage_course_chapter_contents_url(@course, @chapter), class: 'btn btn-default' %>
<% end %>