<!DOCTYPE html>
<html>
  <head>
    <title>Thinkific</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div id="content">
      <div class="container">
        <%= render partial: "layouts/shared/auth" %>
        <% if (notice || alert).present? %>
          <div class="alert alert-success">
            <%= notice %><%= alert %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
